{% extends "admin/base_site.html" %}

{% load i18n static %}

{% block title %}
    Import users
{% endblock %}

{% block content %}
    <div id="content-main">
    <h1>Import users:</h1>
    </div>
{% endblock %}

{% block sidebar %}
    <button class="sticky toggle-nav-sidebar" id="toggle-nav-sidebar" aria-label="{% translate 'Toggle navigation' %}"></button>
    <nav class="sticky" id="nav-sidebar">
      {% include 'admin/app_list.html' with app_list=available_apps show_changelinks=False %}
    </nav>
{% endblock %}