<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Campaign Statistics</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <span class="navbar-brand" style="margin-left: 2em">Statistics</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/admin">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/campaign_statistics/">Campaign</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/assignment_statistics">Assignment</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container mt-3">
        <div class="row">
            <div class="col text-center">
                <h1>Campaign Statistics</h1>
            </div>
        </div>
        <div class="row justify-content-center pt-4" id="worlds">
            <div class="col-1">
                <h4 class="text-end"><strong>World:</strong></h4>
            </div>
            <div class="col-2">
                <select
                        class="form-select"
                        aria-label="select class"
                        id="select-world"
                        onchange="changeWorld(this)">
                    {% for world in worlds %}
                        {% if world == current_world %}
                        <option value={{ world }} selected>{{ world }}</option>
                        {% else %}
                        <option value={{ world }}>{{ world }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-1">
                <h4 class="text-end"><strong>Class:</strong></h4>
            </div>
            <div class="col-2">
                <select
                        class="form-select"
                        aria-label="select class"
                        id="select-class"
                        onchange="changeWorldClass(this)">
                    {% for class in classes %}
                        {% if class == group %}
                        <option value={{ class }} selected>{{ class }}</option>
                        {% else %}
                        <option value={{ class }}>{{ class }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <br><br>

        <div class="row" id="world">
            <div class="row" id="world_name">
                <div class="col" style="border-bottom: 1px solid gray;">
                    <h2 class="text-primary">{{ campaign_mode_stats.world_name }}</h2>
                </div>
            </div>
            {% for section in campaign_mode_stats.sections %}
            <div class="row" id="section">
                <div class="col">
                    <h3 class="text-secondary">{{ section.sub_topic_name }}</h3>
                </div>
                <div class="col align-self-center">
                    <span>A total of <strong>{{ section.total_points }}</strong> points were accumulated.</span>
                </div>
                <div class="col align-self-center">
                    <span>A question was worth <strong>{{ section.avg_points }}</strong> points on average.</span>
                </div>
            </div>
            <div class="row" id="questions">
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Question</th>
                                <th><span class="text-success">Correct Attempts</span></th>
                                <th><span class="text-danger">Incorrect Attempts</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for question in section.questions %}
                            <tr>
                                <td class="col-6">{{ question.question }}</td>
                                <td class="col-3"><span class="text-success">{{ question.num_correct }}</span></td>
                                <td class="col-3"><span class="text-danger">{{ question.num_incorrect }}</span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="{% static "main/script.js" %}"></script>
</body>
</html>